@import './colors/colors';
@import './fonts/fonts';
@import './components/header';

//body var
$main-bgc : rgba(236,234,234,0.2);

body{
    margin:0;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: $main-bgc;
}
//var for product list
$main-H: 80vh;
$main-W: 100%;

//main style for product-list

main{
    padding: 0 162px;
    padding-top: 60px;
    min-height: $main-H;
    width: $main-W;
    box-sizing: border-box;
    //top of main content
    .location-in-site{
        font-size: 16px;
        font-weight: 400;

        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .product-list{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .product{
            width: calc( ( 100% - ( 162px * 2 ) ) / 3);
        }
    }
}

//product div
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0;

    $image-xy: 17vw;
    .product-image{
        width: $image-xy;
        height: $image-xy;
        img{
            height: 100%;
            width: 100%;
        }
        margin-bottom: 40px;
    }

    .product-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        .product-name{
            font-size: 17px;
            font-weight: 500;
            padding: 0 6%;
            text-align: center;

            margin-bottom: 16px;
        }

        .product-rate{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .rate-icon{
                width: 18px;
                height: 18px;
                img{
                    width: 100%;
                    height: 100%;

                    fill: #D3D3D3 !important;
                    stroke: transparent !important;
                }

                &.full{
                    img{
                        fill:#7077A5 !important;
                    }
                }

                margin-left: 10px;
                &:first-of-type{
                    margin-left:0;
                }
            }
            margin-bottom: 16px;
        }

        .product-price{
            font-size: 16px;
            font-weight: 600;
        }
    }
}