@import './colors/colors';
@import './fonts/fonts';
@import './components/header';

//body var
$main-bgc : #ECEAEA;

body{
    margin:0;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: $main-bgc;
}
//var for product list
$main-H: 80vh;
$main-W: 100%;

//main style for product-list

main{
    height: $main-H;
    width: $main-W;
}