body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

body .container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #ECEAEA;
}

body .container .block-image {
  display: flex;
  flex-direction: column;
  width: auto;
}

body .container .block-image .main-image {
  display: flex;
  padding-top: 153px;
  padding-left: 246px;
  padding-right: 20px;
  box-sizing: border-box;
}

body .container .block-image .main-image .test-i {
  width: 380px;
  height: 380px;
  background-color: darkgrey;
  border-radius: 5px;
}

body .container .block-image .view-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 54px;
  padding-left: 220px;
  box-sizing: border-box;
}

body .container .block-image .view-image .test-a {
  width: 94px;
  height: 94px;
  background-color: darkgrey;
  border-radius: 5px;
}

body .container .block-content {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-left: 82px;
  box-sizing: border-box;
  padding-top: 67px;
}

body .container .block-content .text-details {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

body .container .block-content .text-details .new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 46px;
  background-color: #B9BCD3;
  border-radius: 5px;
  margin-right: 23px;
}

body .container .block-content .text-details .new p {
  color: #ffffff;
  font-size: 25px;
  font-family: "Montserrat";
}

body .container .block-content .text-details .heart {
  width: 30px;
  height: 30px;
}

body .container .block-content .text-details .ref {
  color: #000000;
  font-family: "Montserrat";
  font-size: 18px;
  margin: 0;
  margin-left: 213px;
}

body .container .block-content h2 {
  width: 431px;
  color: #C7AEB1;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-top: 40px;
}

body .container .block-content .opinion {
  display: flex;
  align-items: flex-end;
  margin-top: 27px;
}

body .container .block-content .opinion .stars {
  width: 190px;
  height: 21px;
  display: flex;
  justify-content: space-between;
}

body .container .block-content .opinion a {
  color: #000000;
  font-family: "Montserrat";
  font-size: 14px;
  text-decoration: underline;
  margin: 0;
  margin-left: 28px;
}

body .container .block-content h3 {
  margin: 0;
  color: #000000;
  font-family: "Montserrat";
  font-size: 16px;
  margin-top: 32px;
  font-weight: normal;
  width: 439px;
}

body .container .block-content .price-carton {
  margin: 0;
  margin-top: 46px;
  font-size: 30px;
  color: #000000;
  font-family: "Montserrat";
  font-weight: bold;
  width: 168px;
}

body .container .block-content .price-meter {
  margin: 0;
  margin-top: 20px;
  font-size: 15px;
  color: #000000;
  font-family: "Montserrat";
}

body .container .block-content .buy {
  margin-top: 66px;
  display: flex;
}

body .container .block-content .buy .add {
  display: flex;
  justify-content: space-between;
  width: 171px;
}

body .container .block-content .buy .add .add-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #C1C4D8;
  border-radius: 5px;
}

body .container .block-content .buy .add .add-block p {
  font-size: 20px;
  color: #ffffff;
  font-family: "Montserrat";
}

body .container .block-content .buy .basket {
  display: flex;
  align-items: center;
  width: 205px;
  height: 46px;
  background-color: #C1C4D8;
  border-radius: 5px;
  margin-left: 43px;
}

body .container .block-content .buy .basket img {
  margin-left: 14px;
}

body .container .block-content .buy .basket p {
  font-size: 15px;
  color: #ffffff;
  font-family: "Montserrat";
  margin-left: 18px;
}

body .container .delivery-block {
  margin-top: 55px;
}

body .container .delivery-block .delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 424px;
  height: 63px;
  border: 1px solid #A4797E;
  border-radius: 5px;
  margin-bottom: 9px;
  padding: 0 23px;
}

body .container .delivery-block .delivery p {
  color: #000000;
  font-family: "Montserrat";
  font-size: 14px;
}
