body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;

	header{
		height: $header-H;
		width: $header-W;
		box-sizing: border-box;
	
		padding: 0 162px;
		background-color: $bgc-header;
		
		.container{
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.logo{
				color: #BFA3A6;
				font-size: 35px;
				font-weight: bold;
			}
	
			.menu{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
	
				.inner-link{
					
					a{
						margin-left:35px;
						font-size: 25px;
						color: black;
						font-weight: 500;
	
						text-decoration: none;
						&:first-of-type{
							margin-left:0;
						}
					}
	
					
				}
	
				.inner-popup{
					margin-left:35px;
					button.clickable-icon{
						height: 24px;
						width: 24px;
						padding: 0;
						margin:0;
						background-color: unset;
						border: none;
						cursor: pointer;
						img{
							width: 100%;
							height: 100%;
							stroke: black;
							fill: transparent;
						}
	
						&:last-child{
							margin-left: 15px;
						}
					}
				}
	
			}
		}
	}

	.container{
		display: flex;
		width: 100%;
		height: auto;
		background-color: rgba(236, 234, 234,0.2);
		// opacity: 20%;
		// margin-top: 130px;

		.block-image{
			display: flex;
			flex-direction: column;
			width: auto;
			// background: chartreuse;

			.main-image{
				display: flex;
				padding-top: 153px;
				// background-color: cornflowerblue;
				padding-left: 246px;
				padding-right: 20px;
				box-sizing: border-box;

				.test-i{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 380px;
					height: 380px;
					// background-color: red;
					border-radius: 5px;

					img{
						width: 100%;
						height: auto;
					}
				}
			}

			.view-image{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 54px;
				padding-left: 220px;
				box-sizing: border-box;

				.test-a{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 94px;
					height: 94px;
					background-color: #ECEAEA;
					// background-color: red;
					border-radius: 5px;

					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}

		.block-content{
			// background-color: darkorange;
			display: flex;
			flex-direction: column;
			width: auto;
			padding-left: 82px;
			box-sizing: border-box;
			padding-top: 67px;
			
			.text-details{
				display: flex;
				align-items: flex-end;
				width: 100%;

				.new{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 169px;
					height: 46px;
					background-color: #B9BCD3;
					border-radius: 5px;
					margin-right: 23px;
					
					p{
						color: #ffffff;
						font-size: 25px;
						font-family: "Montserrat";
					}
				}

				.heart{
					width: 30px;
					height: 30px;
				}

				.ref{
					color: #000000;
					font-family: "Montserrat";
					font-size: 18px;
					margin: 0;
					margin-left: 213px;
				}
			}

			h2{
				width: 431px;
				color: #C7AEB1;
				font-family: "Montserrat";
				font-size: 30px;
				font-weight: bold;
				margin: 0;
				margin-top: 40px;
			}

			.opinion{
				display: flex;
				align-items: flex-end;
				margin-top: 27px;

				.stars{
					width: 190px;
					height: 21px;
					display: flex;
					justify-content: space-between;
					// background-color: grey;
				}

				a{
					color: #000000;
					font-family: "Montserrat";
					font-size: 14px;
					text-decoration: underline;
					margin: 0;
					margin-left: 28px;
				}

			}

			h3{
				margin: 0;
				color: #000000;
				font-family: "Montserrat";
				font-size: 16px;
				margin-top: 32px;
				font-weight: normal;
				width: 439px;
			}

			.price-carton{
				margin: 0;
				margin-top: 46px;
				font-size: 30px;
				color: #000000;
				font-family: "Montserrat";
				font-weight: bold;
				width: 168px;
			}

			.price-meter{
				margin: 0;
				margin-top: 20px;
				font-size: 15px;
				color: #000000;
				font-family: "Montserrat";
			}

			.buy{
				margin-top: 66px;
				display: flex;

				.add{
					display: flex;
					justify-content: space-between;
					width: 171px;

					.add-block{
						display: flex;
						justify-content: center;
						align-items: center;
						width: 46px;
						height: 46px;
						background-color: #C1C4D8;
						border-radius: 5px;

						p{
							font-size: 20px;
							color: #ffffff;
							font-family: "Montserrat";
						}
					}

					.add-block.plus{
						background-color: red;
					}

				}

				.basket{
					display: flex;
					align-items: center;
					width: 205px;
					height: 46px;
					background-color: #C1C4D8;
					border-radius: 5px;
					margin-left: 43px;

					img{
						margin-left: 14px;
					}

					p{
						font-size: 15px;
						color: #ffffff;
						font-family: "Montserrat";
						margin-left: 18px;
					}
				}
			}

		}

		.delivery-block{
			margin-top: 55px;
			padding-bottom: 50px;

			.delivery{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 424px;
				height: 63px;
				border: 1px solid #A4797E;
				border-radius: 5px;
				margin-bottom: 9px;
				padding: 0 23px;

				&.relaySelected{
					background-color: #A4797E;
				}

				// p{
				// 	color: #000000;
				// 	font-family: "Montserrat";
				// 	font-size: 14px;
				// }
			}

		}
	}

	.footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background-color: #ffffff;
		padding: 30px 162px;
		box-sizing: border-box;

		h1{
			margin: 0;
			padding: 0;
			color: #A4797E;
			font-family: "Montserrat";
			font-size: 24px;
		}

		p{
			margin: 0;
			color: #000000;
			font-family: "Montserrat";
			font-size: 16px;
			width: 300px;
			text-align: center;
		}

		small{
			margin: 0;
			color: #000000;
			font-family: "Montserrat";
			font-size: 12px;
			text-align: center;
		}
	}
}
